@import url('https://fonts.cdnfonts.com/css/minecraft-3');
@import url('https://fonts.cdnfonts.com/css/minecraftia');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    gap: 0;
}

body{
    background-color: rgb(12, 12, 12);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    flex-direction: column;
}
canvas{
    background-color: rgb(24, 24, 24);
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    font-family: 'Minecraftia';
}
.gameoverscreen{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(245, 245, 245, 0.253);
    border-radius: 10px;
    padding: 15px;
    height: 200px;
}
.txt{
    font-size: 30px;
    font-weight: 600;
    font-family: 'minecraft';
}
.scoretxt{
    font-size: 20px;
    font-weight: 800;
    font-family: 'minecraftia';
}
.btn{
    background: linear-gradient(135deg, #00533a 24%, #157568 50%, #167953 79%, #2a8d6f 100%);
    padding: 12px;
    border-radius: 10px;
    font-family: 'minecraft',sans-serif;
    text-shadow: 1px 1px 3px black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    margin-top: 5px;
}
.btn:hover{
    color: rgb(214, 214, 214);
    margin-top: 7px;
    cursor: pointer;
}
div{
    font-family: minecraft;
}
.mobile{
    margin: auto;
    align-items: center;
    display: none;
    bottom: calc(100vh - 150px);
    position: absolute;
}

.mobile button{
    background-color: whitesmoke;
    border: none;
    padding: 30px;
    height: 40px;
    width: 40px;
    font-family: minecraftia;
    text-align: center;
    text-align: center;

}
#gay{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}
.mobile button:active{
    background-color: rgb(192, 192, 192);
}
.dablio{
    background-color: whitesmoke;
    border: none;
    padding: 10px;
    height: 40px;
    width: 40px;
    font-family: minecraftia;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
    margin-bottom: 5px;


}
@media screen {
    @media screen and (max-width: 600px){
        #canvas{
            height: 300px;
            width: 300px;
            margin-bottom: 30px;
        }
        .mobile{
            display: block;
        }
    }
}
#canvas{
    border: 2px rgba(245, 245, 245, 0.644) solid;
}